# Netbox requirements
# -------------------
# Version: tested with netbox 2.3.1
# Data: - Inventory scope: current script gathers all devices
#         TODO: implement filter
#       - Before the devices can be configured
#         the following basic data should be populated
#         - Sites
#         - Tenants (not yet neccassary)
#         - Manufacturers
#         - Device Types + its interfaces
#         - Platforms
#         - Custom Fields
#           - anycast_ip     (Distributed Gateway for corresponding VLAN.)
#           - bgp_as         (BGP Autonomous System Number (ASN ))
#           - cluster_role   (master,slave,standalone)
#           - loopback_ip    (For BGP router IP.)
#           - securityblock  (Network/Security Zone)
#           - VLAN_domain    (This is a zentral managed "Prefix/VLAN Roles" of VLANs. See /ipam/roles/)
#           - clagd_vxlan_anycast_ip (CLAG Anycast IP is the Active-Active VTEP Anycast IP)
#           - peerlink_mac   (Peerlink MLAG configuration: Each pair must have a unique system MAC address.)

#       - On an network device e.g. leaf
#         the following fields should be populated
#         TODO: Make maskarated screenshots for documentation
#         - Name
#         - Site
#         - Tenant (not yet neccassary)
#         - Device type
#         - Role (spine,leaf,access,firewall)
#         - Platform
#         - Primary IPv4
#         - Custom Fields
#           - anycast_ip     (Distributed Gateway for corresponding VLAN.)
#           - bgp_as         (BGP Autonomous System Number (ASN ))
#           - cluster_role   (master,slave,standalone)
#           - loopback_ip    (For BGP router IP.)
#           - securityblock  (Network/Security Zone)
#           - VLAN_domain    (This is a zentral managed "Prefix/VLAN Roles" of VLANs. See /ipam/roles/)
#           - clagd_vxlan_anycast_ip (CLAG Anycast IP is the Active-Active VTEP Anycast IP)
#           - peerlink_mac   (Peerlink MLAG configuration: Each pair must have a unique system MAC address.)


# python environment requirements
# -------------------------------
pyyaml>=3.11
requests
distro
